<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
 <configuration>
 <mappers>
 <mapper resource="cn/edu/scau/cmi/chenmengfu/redpacket/mapper/UserRedPacket.xml"/>
 <mapper resource="cn/edu/scau/cmi/chenmengfu/redpacket/mapper/RedPacket.xml"/>
 </mappers>
 </configuration>